[configuration]

TinMan.Measures.ball_radius_metres = 0.04
TinMan.Measures.ball_mass_kilograms = 0.026
TinMan.Measures.field_y_length = 14.0
TinMan.Measures.field_x_length = 21
TinMan.Measures.field_z_length = 40
TinMan.Measures.goal_y_length = 2.1
TinMan.Measures.goal_z_length = 0.8
TinMan.Measures.goal_x_length = 0.6
TinMan.Measures.penalty_area_x_length = 1.8
TinMan.Measures.penalty_area_y_length = 3.9
TinMan.Measures.free_kick_distance = 1.3
TinMan.Measures.free_kick_move_distance = 1.5
TinMan.Measures.goal_kick_distance = 1.0




